@import "basic";
.header
{
	height: 70px;
	border-bottom: 2px solid #a8a8a8;
	background: #fff;
	-webkit-box-shadow: 2px 0px 17px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 2px 0px 17px 0px rgba(0,0,0,0.5);
	box-shadow: 2px 0px 17px 0px rgba(0,0,0,0.5);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-content: center;
	align-items: center;
	&-nav
	{
		font-size: 35px;
		margin: 30px;
		a, a:hover
		{
			text-decoration: none;
			color: #707070;
		}
	}
	&-logo
	{
		width: 185px;
		height: auto;
		max-width: 100%;
		margin: 10px;
	}
} 