.nav
{
	height: 100vh;
	width: 340px;
	max-width: 100%;
	position: absolute;
	top: 0;
	left: -600px;
	background: #323232;
	transition: all .3s ease-out;
	z-index: 10; 
	&-header
	{
		height: 70px;
		border-bottom: 2px solid #151515;

		-webkit-box-shadow: -20px 5px 17px 0px rgba(0,0,0,0.5);
		-moz-box-shadow: -20px 5px 17px 0px rgba(0,0,0,0.5);
		box-shadow: -20px 5px 17px 0px rgba(0,0,0,0.5);
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-content: center;
		align-items: center;

	}
	&-button
	{
		font-size: 35px;
		margin: 30px;
		a, a:hover
		{
			text-decoration: none;
			color: #e4e4e4;
		}
	}
	&-logo
	{
		width: 185px;
		height: auto;
		max-width: 100%;
		margin: 10px;
	}
	&.active
	{
		left: 0;
		transition: all .3s ease-in-out;
	}
	&-body
	{
		margin-top: 55px;
		ul
		{
			list-style: none;
			padding: 0;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center; 
		}
	}
	&-item 
	{
		margin-bottom: 20px;
		position: relative;
		text-align: center;
		display: block;
		width: 190px;
		&:after
		{ 
			content: '';
			position: absolute;
			bottom: -10px; 
			height: 0px;
			width: 190px;
			border-bottom: 1px solid #e4e4e4;
			right: 0;
			left: 0;
			margin-left: 0;
			margin-right: 0;
		}
		&:last-child:after
		{
			border: none;
		}
		&__link
		{
			color: #e4e4e4;
			text-decoration: none;
			text-transform: uppercase;
			text-align: center;
			font-size: 25px;
			font-family: 'OpenSans-SemiBold';
			transition: all .3s ease-in;
			&:hover
			{
				color: #bebebe;
				transition: all .3s ease-out;
			}
		}
	}
}